<h2>ساختار سند حساب داری</h2>

<!-- table grid 1-->
<nz-table nzBordered  nzSize="small" [nzPageSize]="10">
  <thead>
    <tr>
      <th colspan="1">سریال</th>
      <th colspan="1">نوع سند</th>
    </tr>
  </thead>
  <tbody>
    <!-- 1 -->
    <tr>
      <td style="text-align:center">45</td>
      <td style="text-align:center">بستن حساب های موقت</td>
    </tr>
    <!-- 2 -->
    <tr>
      <td style="text-align:center">46</td>
      <td style="text-align:center">سند اختتامیه</td>
    </tr>
  </tbody>
</nz-table>
<hr style="border: 1px solid BLACK" />
<!-- table grid 2-->
<nz-table nzBordered nzSize="small" [nzPageSize]="10">
  <thead>
    <tr>
      <th colspan="1">علت صدور</th>
      <th colspan="1">شرح علت صدور</th>
      <th colspan="1">نوع معین</th>
      <th colspan="1">کد معین</th>
      <th colspan="1">نوع تفصیلی</th>
      <th colspan="1">کد تفصیلی</th>
      <th colspan="1">نوع طرف تفصیلی</th>
      <th colspan="1">کد طرف تفصیلی</th>
      <th colspan="1">ماهیت مبلغ</th>
      <th colspan="1">منشا مبلغ</th>
      <th colspan="1">اولویت</th>
      <th colspan="1">قابلیت پرداخت</th>
    </tr>
  </thead>
  <tbody>
    <!-- 1 -->
    <tr>
      <td style="text-align:center">401</td>
      <td style="text-align:center">کارگر عادی</td>
      <td style="text-align:center">
        <nz-select style="width: 100px;" nzAllowClear nzPlaceHolder="پرسنل">
          <nz-option nzValue="پرسنل" nzLabel="پرسنل"></nz-option>
          <nz-option nzValue="2" nzLabel="2"></nz-option>
        </nz-select>
      </td>
      <td style="text-align:center"></td>
      <td style="text-align:center">
        <nz-select style="width: 100px;" nzAllowClear nzPlaceHolder="ثابت">
          <nz-option nzValue="ثابت" nzLabel="ثابت"></nz-option>
          <nz-option nzValue="2" nzLabel="2"></nz-option>
        </nz-select>
      </td>
      <td style="text-align:center"></td>
      <td style="text-align:center">
        <nz-select style="width: 100px;" nzAllowClear nzPlaceHolder="ثابت">
          <nz-option nzValue="ثابت" nzLabel="1"></nz-option>
          <nz-option nzValue="2" nzLabel="2"></nz-option>
        </nz-select>
      </td>
      <td style="text-align:center"></td>
      <td style="text-align:center">
        <nz-select style="width: 100px;" nzAllowClear nzPlaceHolder="پرداخت">
          <nz-option nzValue="پرداخت" nzLabel="1"></nz-option>
          <nz-option nzValue="2" nzLabel="2"></nz-option>
        </nz-select>
      </td>
      <td style="text-align:center">
        <nz-select style="width: 100px;" nzAllowClear nzPlaceHolder="حکم">
          <nz-option nzValue="حکم" nzLabel="1"></nz-option>
          <nz-option nzValue="2" nzLabel="2"></nz-option>
        </nz-select>
      </td>
      <td style="text-align:center">1</td>
      <td style="text-align:center">...</td>
    </tr>
    <!-- 2 -->
    <tr>
      <td style="text-align:center">412</td>
      <td style="text-align:center">حق جذب</td>
      <td style="text-align:center">
        <nz-select style="width: 100px;" nzAllowClear nzPlaceHolder="پرسنل">
          <nz-option nzValue="پرسنل" nzLabel="پرسنل"></nz-option>
          <nz-option nzValue="2" nzLabel="2"></nz-option>
        </nz-select>
      </td>
      <td style="text-align:center"></td>
      <td style="text-align:center">
        <nz-select style="width: 100px;" nzAllowClear nzPlaceHolder="ثابت">
          <nz-option nzValue="ثابت" nzLabel="ثابت"></nz-option>
          <nz-option nzValue="2" nzLabel="2"></nz-option>
        </nz-select>
      </td>
      <td style="text-align:center"></td>
      <td style="text-align:center">
        <nz-select style="width: 100px;" nzAllowClear nzPlaceHolder="ثابت">
          <nz-option nzValue="ثابت" nzLabel="ثابت"></nz-option>
          <nz-option nzValue="2" nzLabel="2"></nz-option>
        </nz-select>
      </td>
      <td style="text-align:center"></td>
      <td style="text-align:center">
        <nz-select style="width: 100px;" nzAllowClear nzPlaceHolder="پرداخت">
          <nz-option nzValue="پرداخت" nzLabel="1"></nz-option>
          <nz-option nzValue="2" nzLabel="2"></nz-option>
        </nz-select>
      </td>

      <td style="text-align:center">
        <nz-select style="width: 100px;" nzAllowClear nzPlaceHolder="حکم">
          <nz-option nzValue="حکم" nzLabel="1"></nz-option>
          <nz-option nzValue="2" nzLabel="2"></nz-option>
        </nz-select>
      </td>
      <td style="text-align:center">2</td>
      <td style="text-align:center">...</td>
    </tr>
    <!-- 3 -->
    <tr>
      <td style="text-align:center">402</td>
      <td style="text-align:center">ایاب ذهاب</td>
      <td style="text-align:center">
        <nz-select style="width: 100px;" nzAllowClear nzPlaceHolder="پرسنل">
          <nz-option nzValue="پرسنل" nzLabel="پرسنل"></nz-option>
          <nz-option nzValue="2" nzLabel="2"></nz-option>
        </nz-select>
      </td>
      <td style="text-align:center"></td>
      <td style="text-align:center">
        <nz-select style="width: 100px;" nzAllowClear nzPlaceHolder="ثابت">
          <nz-option nzValue="ثابت" nzLabel="ثابت"></nz-option>
          <nz-option nzValue="2" nzLabel="2"></nz-option>
        </nz-select>
      </td>
      <td style="text-align:center"></td>
      <td style="text-align:center">
        <nz-select style="width: 100px;" nzAllowClear nzPlaceHolder="ثابت">
          <nz-option nzValue="ثابت" nzLabel="ثابت"></nz-option>
          <nz-option nzValue="2" nzLabel="2"></nz-option>
        </nz-select>
      </td>
      <td style="text-align:center"></td>
      <td style="text-align:center">
        <nz-select style="width: 100px;" nzAllowClear nzPlaceHolder="پرداخت">
          <nz-option nzValue="پرداخت" nzLabel="1"></nz-option>
          <nz-option nzValue="2" nzLabel="2"></nz-option>
        </nz-select>
      </td>

      <td style="text-align:center">
        <nz-select style="width: 100px;" nzAllowClear nzPlaceHolder="حکم">
          <nz-option nzValue="حکم" nzLabel="1"></nz-option>
          <nz-option nzValue="2" nzLabel="2"></nz-option>
        </nz-select>
      </td>
      <td style="text-align:center">2</td>
      <td style="text-align:center">...</td>
    </tr>
  </tbody>
</nz-table>
<hr style="border: 1px solid BLACK" />

<form class="col-24" nz-form [formGroup]="test2" role="form">
  <!-- row 1 -->
  <div nz-row [nzGutter]="4">
    <!-- 1 -->
    <div nz-col nzSpan="8">
      <nz-form-item>
        <nz-form-label [nzSm]="9" [nzXs]="24" nzRequired nzFor="serialVal">شرح معین </nz-form-label>
        <nz-form-control
          [nzSm]="15"
          [nzXs]="24"
          [nzErrorTip]="'app.accounting.accounting-documents.input.document-helper-description' | translate"
        >
          <nz-input-group nzSize="small">
            <input
              nz-input
              formControlName="serialVal"
              [placeholder]="'app.accounting.accounting-documents.input.document-helper-description' | translate"
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </div>
    <!-- 2 -->
    <div nz-col nzSpan="8">
      <nz-form-item>
        <nz-form-label [nzSm]="9" [nzXs]="24" nzRequired nzFor="serialVal">شرح تفضیل</nz-form-label>
        <nz-form-control
          [nzSm]="15"
          [nzXs]="24"
          [nzErrorTip]="'app.accounting.accounting-documents.input.document-detail-description' | translate"
        >
          <nz-input-group nzSize="small">
            <input
              nz-input
              formControlName="serialVal"
              [placeholder]="'app.accounting.accounting-documents.input.document-detail-description' | translate"
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </div>
    <!-- 3-->
    <div nz-col nzSpan="8">
      <nz-form-item>
        <nz-form-label [nzSm]="9" [nzXs]="24" nzRequired nzFor="serialVal">شرح طرف تفضیل</nz-form-label>
        <nz-form-control
          [nzSm]="15"
          [nzXs]="24"
          [nzErrorTip]="'app.accounting.accounting-documents.input.document-detail-description' | translate"
        >
          <nz-input-group nzSize="small">
            <input
              nz-input
              formControlName="serialVal"
              [placeholder]="'app.accounting.accounting-documents.input.document-detail-description' | translate"
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <!-- row 2-->
  <div nz-row [nzGutter]="4">
    <!-- 1 -->
    <div nz-col nzSpan="6">
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="serialVal">{{
          'app.accounting.account-review.date-peaker.from' | translate
        }}</nz-form-label>
        <nz-form-control
          [nzSm]="18"
          [nzXs]="24"
          [nzErrorTip]="'app.accounting.account-review.date-peaker.from' | translate"
        >
          <nz-input-group nzSize="small">
            <nz-date-picker formControlName="serialVal" [nzFormat]="dateFormat"></nz-date-picker>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </div>
    <!-- 2 -->
    <div nz-col nzSpan="6">
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="serialVal">{{
          'app.accounting.account-review.date-peaker.to' | translate
        }}</nz-form-label>
        <nz-form-control
          [nzSm]="18"
          [nzXs]="24"
          [nzErrorTip]="'app.accounting.account-review.date-peaker.to' | translate"
        >
          <nz-input-group nzSize="small">
            <nz-date-picker formControlName="serialVal" [nzFormat]="dateFormat"></nz-date-picker>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </div>
    <!-- 4 -->
    <div nz-col nzSpan="3" style="padding-top: 10px;">
      <button nz-button nzType="primary" nzSize="small" (click)="submit()">مشخصات حقوق دست مزد</button>
    </div>
  </div>
</form>
