<h2>{{ 'app.accounting.account-review.document-detail.header.title' | translate }}</h2>

<!-- table grid -->
<nz-table nzBordered  nzSize="small" [nzPageSize]="10">
  <thead>
    <tr>
      <th colspan="1">شماره موقت</th>
      <th colspan="1">شماره سند</th>
      <th colspan="1">تاریخ سند</th>
      <th colspan="1">ردیف سند</th>
      <th colspan="1">حساب معین</th>
      <th colspan="1">حساب تفضیل</th>
      <th colspan="1">طرف حساب تفصیل</th>
      <th colspan="1">بدهکار</th>
      <th colspan="1">بستانکار</th>
    </tr>
  </thead>
  <tbody>
    <!-- 1 -->
    <tr>
      <td align="center">1</td>
      <td align="center">1311</td>
      <td align="center">121</td>
      <td align="center">120</td>
      <td align="center">طلب از سازنده</td>
      <td align="center">153000000</td>
      <td align="center">0</td>
      <td align="center">0</td>
      <td align="center">0</td>
    </tr>
    <!-- 2 -->
    <tr>
      <td align="center">2</td>
      <td align="center">1201</td>
      <td align="center">120</td>
      <td align="center">5312</td>
      <td align="center">طلب از سازنده</td>
      <td align="center">0</td>
      <td align="center">153000000</td>
      <td align="center">0</td>
      <td align="center">0</td>
    </tr>
  </tbody>
</nz-table>
